@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'calibri';
  background: rgb(5,93,137);
  background: linear-gradient(180deg, rgba(5,93,137,1) 0%, rgba(9,19,38,1) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#home {
  background: rgb(5,93,137);
  background: linear-gradient(180deg, rgba(5,93,137,1) 0%, rgba(9,19,38,1) 100%);
}

.parentKit {
  height: 92px;
  width: 76px;
}

.kit {
  position: absolute;
  background-image: url('~/img/kitWhite.svg');
  height: 92px;
  width: 76px;
  background-repeat: no-repeat;
  z-index: 1;
}

.kitName {
  position: relative;
  margin: 0 auto;
  width: 58%;
  padding-top: 12px;
  text-align: center;
  font-size: xx-small;
  color: red;
  overflow: hidden;
  z-index: 2;
}

.kitNumber {
  position: relative;
  margin: 0 auto;
  width: 55%;
  padding-top: 4px;
  text-align: center;
  font-size: x-large;
  color: red;
  overflow: hidden;
  z-index: 2;
}

.dynaKitCount {
  position: relative;
  background-image: url('~/img/kitWhite.svg');
  height: 160px;
  width: 120px;
  background-repeat: no-repeat;
  z-index: 1;
  margin: 0 auto;
}

.showKits {
  background-image: url('~/img/kitWhite.svg');
  background-repeat: no-repeat;
  z-index: 1;
}
/* brightness(0.5) sepia(1) saturate(10000%) hue-rotate(" + document.getElementById('color').value + "deg) */

.kitComponent {
  visibility: hidden;
}

.halfCircle {
  /* position: relative; */
  width: 100%;
  margin: 0 auto;
  height: 80px; /* as the half of the width */
  border-top-left-radius: 100% 70px;  /* 100px of height + 10px of border */
  border-top-right-radius: 100% 70px; /* 100px of height + 10px of border */
  border-bottom: 0;
  z-index: 1;
}

.halfCircleTop {
  /* position: absolute; */
  width: 90%;
  margin: 0 auto;
  height: 40px; /* as the half of the width */
  border-top-left-radius: 100% 70px;  /* 100px of height + 10px of border */
  border-top-right-radius: 100% 70px; /* 100px of height + 10px of border */
  border-bottom: 0;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
